spring:
  application:
    name: task-management-api

  profiles:
    active: dev

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
