name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Grant execute permissions for scripts
        run: chmod +x gradlew build.sh

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build and run tests
        run: ./gradlew build

      - name: Build Docker image
        run: ./build.sh ci
